@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lilita+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px ;

}
body {


	background-image: url('https://images.unsplash.com/photo-1467241850596-6a0de48568da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80');
	background-size: cover;
    
}

/*********************navbar****************/

.navigation-wrap {
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease-out;
}
.navbar-brand{
  background-image: url(Picsart_23-11-26_15-48-28-775.png);
  background-size: cover;
  height: 130px;
  width: 130px;
  margin-top: 20px;
}

.navigation-wrap.scroll-on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0.125rem 1.75rem 0 rgba(0, 0, 0, 0.9);
  transition: all .15s ease-in-out 0s;
  background-color: rgb(12, 11, 11);
}


@media (max-width: 576px) {
  .navigation-wrap {
      height: auto; 
  }
}

.maz{
    padding: 0px 30px;
  
  
  }
  .maz li a{
    font-size: 15px  ;
    text-transform:capitalize;
    text-decoration: none;
    padding: 15px !important;
  }
  a:hover{
  color: #f39c12 !important;
  text-decoration: none !important;
  
  
  }



.contact-info {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
    font-family: 'Lilita One', sans-serif;
} 

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:fade(#F9F9F9,85);
	padding:25px;
	margin-top: 150px;
    margin-left: -60px;
}

#contact h3 {
	color: rgb(253, 251, 251);
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#000;
	color:#FFF;
	margin:0 0 5px;
	padding:25px 10px;
	font-size:15px;
	text-transform: uppercase;
}

#contact button[type="submit"]:hover {
	background:rgb(173, 96, 8);
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}

/*********************footer_start****************/
footer {
	background: #151C2C;
	padding: 86px 0;
  margin-top: 100px;
}
#footer_bottom{
  padding-top: 5vh;
  text-align: center;
  height: 15vh;
  background-color: #0E131F;
  color: gray;
}

